<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBh4ZTb2HLCEK_-txwIFuVLH56fOs9-cVs</string>
	<key>GCM_SENDER_ID</key>
	<string>1082229596974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.damii.proyecto-alertas</string>
	<key>PROJECT_ID</key>
	<string>appreporte-dea02</string>
	<key>STORAGE_BUCKET</key>
	<string>appreporte-dea02.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082229596974:ios:ecb11f9af1184b633510bf</string>
</dict>
</plist>